.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a3c4f3;
}

.header li {
    float: left;
    display: inline;
}

.header li a {
    display: block;
    padding: 2rem 2rem;
    color: #a9096f;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

.header li a:hover {
    background-color: #8ab1e5;
}

.footer {
    /*position: relative;*/
    margin-top: 10%;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #a3c4f3;
}

.footer-text {
    text-align: center;
    font-size: large;
    color: #400d52;
    font-weight: bold;
}

.title {
    float: right;
    margin-right: 2.5rem;
    font-weight: bold;
    color: #761b98;
    font-size: x-large;
    padding: 0;
}
