.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a3c4f3;
}

.header li {
    float: left;
    display: inline;
}

.header li a {
    display: block;
    padding: 1rem 2rem;
    color: #a9096f;
    text-align: center;
    text-decoration: none;
}

.header li a:hover {
    background-color: #8ab1e5;
}
